* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    overflow: hidden;
}

nav {
    display: flex;
    background-color: lightgray;
    width: 100%;
    padding: 20px 20px;
    border-bottom: 1px solid grey;
    font-family: poppins;
    margin-bottom: 30px;
}

.brand {
    color: black;
    text-decoration: none;
    font-size: 16px;
    flex-basis: 40%;

}

.nav-buttons {
    text-align: right;
    flex-basis: 50%;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    flex-basis: 200px;
    padding: 1px 10px;
}

.body-container {
    display: flex;
    width: 100%;
    height: 400px;

}

.left-column,
.center-column,
.right-column {
    text-align: center;
    padding: 0px 20px;
    flex: 1 1 33%;
}

.left-column {
    flex: 1 1 25%;
    border: 1px solid red;
}

.center-column {
    flex: 1 1 50%;
    border: 1px solid red;
}

.right-column {
    flex: 1 1 25%;
    border: 1px solid red;
}

footer {
    display: flex;
    background-color: lightgray;
    padding: 10px 20px;
    height: 50px;
    align-self: flex-end;
}

footer div {
    flex-basis: 25%;
    border: 1px solid red;
}

@media (max-width: 700px) {

    footer, .body-container {
        flex-wrap: wrap;
    }

    footer div {
        flex-basis: 48%;
        margin-bottom: 10px;
    }

    body {
        flex-wrap: wrap;
    }

    .left-column,
    .center-column,
    .right-column {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-direction: row;
    }

}