#large {
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

#abs1,
#abs2 {
    border: 1px solid red;
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    z-index: 0;
}


#abs2 {
    border: 1px solid red;
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    z-index: 0;
}

#abs3 {
    top: 50px;
    left: 50px;
    background-color: aqua;
    z-index: -2;
}

#overflow {
    display: inline-block;
    height: 100px;
    border: 1px solid red;
    overflow: auto;
}

.float {
    float: left;
    width: 150px;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

#middle {
    clear: left;
}

#opacity {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 5px solid cornflowerblue;
    background-color: red;
    opacity: 50%;

}

form {
    border: 1px solid #ccc;
    width: 100%;
    padding: 20px;
    text-align: center;
}

label {
    width: 100px solid red;
    margin-top: 5px;
}

button,
label {
    display: block;
    padding-bottom: 5px;
}

button,
input {
    width: 20%;
    text-align: center;
}

button {

    margin-top: 10px;
    display: inline-block;
    text-align: center;
}

[type="text"] {
    border: 1px solid red;
}

a {
    margin: 5px;
}

[href="hhtps://nickmalzacher.com"]:hover {
    color: red;
}

p.child:first-child {
    background-color: red;
}

p.child:last-child {
    background-color: orange;
}

#focus:focus {
    border: 5px solid red;
    background-color: blue;
}

#border {
    display: inline-block;
    border: 10px solid green;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.imageround {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: inline-block;

    background-position: center center;
    background-image: url('/images/cool.jpg');
}

#bgimg {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 5px solid green;

    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: #ccc;
    background-image: url(../images/cool.jpg);
}

#rgba {
    background-color: blue;
    color: rgba(0, 0, 0, .2);
}

#hsl {
    background-color: hsl(180, 20%, 50%);
}

#shadow {
    text-shadow: -5px 5px 10px blue;
    text-align: center;
    font-size: 50px;
}

#box {
    display: block;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin: 50px auto;
    background-color: #ccc;

    box-shadow: 5px 5px 2px black;
}

#card-image {
    width: 225px;
    display: block;
}

#card-container {
    display: inline-block;
    width: 225px;
    height: 270px;
    border: 1px solid rgb(225, 225, 225);
    padding: 5px;
    font-family: roboto;
    background-color: rgb(232, 232, 232);
    text-decoration: none;
    color: black;
}

#card-title {
    font-weight: 700;
    margin: 10px 0px;
    font-family: poppins;
    border-bottom: 1px solid rgb(187, 187, 187);
}

#card-text {
    font-size: 14px;
    color: rgb(36, 36, 36);
}

#card-container:hover {
    box-shadow: 5px 5px 3px grey;
}

#card-container:hover #card-title {
    text-decoration: underline;
    color: rgb(15, 15, 15);
}

#clip {
    width: 250px;
    height: 50px;
    text-overflow: clip;
    border: 1px solid black;
    overflow: hidden;
}

#elip {
    width: 250px;
    height: 60px;
    text-overflow: ellipsis;
    border: 1px solid black;
    overflow: hidden;
}

.trans {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: aqua;
    transition: 500ms;
}

.trans:hover {
    width: 100px;
    height: 100px;
}

#colortrans {
    text-decoration: none;
    color: black;
    transition-duration: 300ms;
    transition-property: color;
    transition-timing-function: linear;
}

#colortrans:hover {
    color: green;
}

.parent {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: black;
}

.child {
    position: relative;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    background-color: #ccc;
    transition-duration: 1000ms;
    transition-property: left calc(100% - 50px);
    transition-timing-function: ease;
    transition-delay: 1s;
}

.parent:hover .child {
    left: calc(100% - 50px);
}

#bgimg {
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 5px solid green;

    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: #ccc;
    background-image: url(../images/cool.jpg);
}

#transbox {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    position: relative;

    transform: translate(100px, 100px);
}   