* {
    color: #1D1D1D;
    background-color: #BD3229;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Spot Mono Bold', Courier, monospace;
}

.nav-container {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #1D1D1D;
    font-size: 16px;
    color: #1D1D1D;
    border-radius: 2px;
}

#home {
    margin-left: 50px;
    flex: 1 1 90%;
}

#contact {
    flex: 1 1 5%;
    margin-right: 15px;
}

#resume {
    flex: 1 1 5%;
    margin-right: 50px;
}

#home,
#contact,
#resume {
    padding: 10px 0px;
}

.main-container {
    display: flex;
    height: 500px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.left-container {
    flex: 1 1 40%;
    align-content: center;
    margin-left: 50px;
}

.right-container {
    flex: 1 1 60%;
    font-family: 'Spot Mono Regular';
    font-size: 16px;
    align-self: center;
    margin-right: 50px;
    padding: 5px;
}

.left-container h1 {
    font-size: 50px;
}

.left-container h2 {
    font-size: 15px;
}

.work-container {
    height: 370px;
    background-color: #1D1D1D;
    display: flex;
}

#work-left,
#work-center,
#work-right,
.title-left,
.title-center,
.title-right {
    flex: 1 1 33%;
    background-color: #1D1D1D;
    margin-left: 50px;
    margin-right: 50px;
}

.box-left,
.box-center,
.box-right {
    margin-top: 20px;
    background-color: #E9E9E9;
    height: 200px;
    border-radius: 20px;
}

.title h1 {
    background-color: #1D1D1D;
    display: block;
    color: #BD3229;
    margin-left: 50px;
}

.title-left {
    text-align: left;
    margin: 0;
}

.title {
    background-color: #1D1D1D;
    padding-top: 50px;
}

.work-container p,
.work-container h1 {
    margin-top: 10px;
    color: #BD3229;
    background-color: #1D1D1D;
    font-size: 14px;
    font-family: 'Spot Mono Regular', Courier, monospace;
}

.work-container h1 {
    color: #E9E9E9;
}

#work-left {
    order: 1;
}

#work-center {
    order: 2;
}

#work-right {
    order: 3;
}

.skills-container {
    height: 370px;
    display: flex;
    flex-wrap: wrap
}

.skill-1,
.skill-2,
.skill-3,
.skill-4,
.skill-5 {
    flex: 0 1 calc(33% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
}

p {
    display: inline-block;
}

.fa-brands {
    font-size: 30px;
}