* {
    color: #1D1D1D;
    background-color: #BD3229;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Spot Mono Bold', Courier, monospace;
}

.nav-container {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #1D1D1D;
    font-size: 16px;
    color: #1D1D1D;
    border-radius: 2px;
}

#home {
    margin-left: 50px;
    flex: 1 1 90%;
}

#contact {
    flex: 1 1 5%;
    margin-right: 15px;
}

#resume {
    flex: 1 1 5%;
    margin-right: 50px;
}

#home,
#contact,
#resume {
    padding: 10px 0px;
    text-decoration: none;
    transition-duration: 750ms;
}

#home:hover,
#contact:hover,
#resume:hover {
    color: #E9E9E9;
}

.main-container {
    display: flex;
    height: 500px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.left-container {
    flex: 1 1 40%;
    align-content: center;
    margin-left: 50px;
    margin-right: 10px;
}

.right-container {
    flex: 1 1 60%;
    font-family: 'Spot Mono Regular';
    font-size: 16px;
    align-self: center;
    margin-right: 50px;
    padding: 5px;
}

.left-container h1 {
    font-size: 50px;
}

.left-container h2 {
    font-size: 15px;
}

.work-container {
    height: 370px;
    background-color: #1D1D1D;
    display: flex;
}

#work-left,
#work-center,
#work-right,
.title-left,
.title-center,
.title-right {
    flex: 1 1 33%;
    background-color: #1D1D1D;
    margin-left: 50px;
    margin-right: 50px;
}

.box-left,
.box-center,
.box-right {
    margin-top: 20px;
    height: 200px;
    border-radius: 20px;
    transition-duration: 750ms;
}

.box-left {
    background-image: url(/images/Personal\ Profile.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
}

.box-left,
.box-center,
.box-right {
    box-shadow: #1D1D1D;
}

.title h1 {
    background-color: #1D1D1D;
    display: block;
    color: #BD3229;
    margin-left: 50px;
}

.title-left {
    text-align: left;
    margin: 0;
}

.title {
    background-color: #1D1D1D;
    padding-top: 50px;
}

.work-container p,
.work-container h1 {
    margin-top: 10px;
    color: #BD3229;
    background-color: #1D1D1D;
    font-size: 14px;
    font-family: 'Spot Mono Regular', Courier, monospace;
}

.work-container h1 {
    color: #E9E9E9;
}

#work-left {
    order: 1;
}

#work-center {
    order: 2;
}

#work-right {
    order: 3;
}

.skills-container {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4,
.skill-5 {
    flex: 0 1 calc(33% - 100px);
    margin-left: 50px;
    margin-right: 50px;
}

p {
    display: inline-block;
}

.fa-brands {
    font-size: 30px;
}

.title2 {
    background-color: #BD3229;
    padding-top: 50px;
}

.title2 h1 {
    display: block;
    color: #1D1D1D;
    margin-left: 50px;
    margin-bottom: 30px;
}

/* .skill-1,
.skill-2,
.skill-3 {
    border-bottom: 2px solid #1D1D1D;
} */

.footer-container {
    display: flex;
    background-color: #1D1D1D;
    border-bottom: 1px solid #1D1D1D;
    font-size: 16px;
    color: #BD3229;
    height: 75px;
}

#git {
    margin-left: 50px;
    flex: 1 1 5%;
}

#linkdin {
    flex: 1 1 10%;
    margin-right: 10px;
}

#f-contact {
    flex: 1 1 90%;
    margin-right: 50px;
    text-align: right;
    text-decoration: none;
}

#git,
#linkdin,
#f-contact {
    align-self: center;
    background-color: #1D1D1D;
    color: #BD3229;
    transition-duration: 750ms;
}

.fa-github:hover,
.fa-linkedin:hover,
#f-contact:hover {
    color: #E9E9E9;
}

.fa-github,
.fa-linkedin {
    background-color: #1D1D1D;
    color: #BD3229;
    transition-duration: 750ms;
}

@media (max-width: 700px) {

    .main-container {
        flex-wrap: wrap;
        height: 400px;
    }

    .left-container {
        flex: 1 1 100%;
        padding-bottom: 10px;
        margin-right: 50px;
    }

    .right-container {
        flex: 1 1 100%;
        margin-left: 50px;
    }

    .work-container {
        height: 425px;
    }

    .fa-github {
        margin-right: 20px;
    }

    .work-container {
        flex-wrap: wrap;
        height: 900px;
    }

    #work-left,
    #work-center,
    #work-right {
        flex-basis: 100%;
    }

    .box-left {
        height: 300px;
    }

}