body {
    background-color: #131E2A;
    color: #FFFFFF;
    font-family: 'Arlon', Courier, monospace;
    margin-top: 5rem;
}

.score-container {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
}

.header-container {
    position: absolute;
    top: 10px;
    left: 5rem;
    padding: 10px;
    font-size: 8px;
}

.body-container {
    display: flex;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    align-self: center;
    gap: 1rem;
    width: calc(100%- 40px);
    padding: 0px 5rem 5rem 5rem;
}

#question-box {
    display: flex;
    flex-basis: 100%;
    height: 60%;
    width: 100%;
    align-items: center;
    background-color: #0371C3;
    border-radius: 20px;
}

#true-box {
    background: linear-gradient(45deg, #36DE90, #178D58);
}

#false-box {
    background: linear-gradient(45deg, #F57860, #D73010);
}

#true-box,
#false-box {
    display: flex;
    flex: 1 1 calc(50% - 1rem);
    height: 40%;
    align-items: center;
    border-radius: 20px;
    font-size: 1.5rem;
}

#question-box {
    font-size: 1.3rem;
}

#true-box p,
#false-box p,
#question-box p {
    width: 100%;
    text-align: center;
    opacity: 1;

}